
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-tags:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */