/* Basscss Basic */
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #111;
  background-color: #fff;
  padding: 0 10px;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: .5em;
  color: #555;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.2em;
  margin-bottom: 0.8em;
}
code, pre {
  font-family: monospace;
}
code, pre, .badge {
  padding: 2px 5px;
  background-color: #eee;
  line-height: 1.5;
  border-radius: 3px;
  font-weight: 300;
}
pre {
  padding: 0.8rem;
  overflow: auto;
}

pre > code, pre {
  background-color: #f7f7f7;
}
pre > code {
  padding: 0;
}
.hljs {
  /* TODO: ??? */
  background-color: #f7f7f7 !important;
}

blockquote {
  margin: 0 1rem;
  border-left: 1px solid #aaa;
  color: #aaa;
  padding: 0.3rem 0.8rem;
  font-style: italic;
  font-weight: 300;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

/* start custom */

i[class^="icon-"] {
  color: #ccc;
}
a i[class^="icon-"]:hover {
  color: #4183C4;
}
.selected {
  color: #4183C4 !important;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* container/wrappers */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.container#footer {
  border-top: solid 1px #eee;
  padding-top: 1rem;
}
.container#header {
  border-bottom: solid 1px #eee;
  padding-bottom: 1rem;
}
.container#nav-header {
  border-bottom: solid 1px #eee;
}
.container#main {
  margin-top: 2rem; 
  margin-bottom: 3rem; 
}
header, footer {
  text-align: center;
}
header #description, footer {
  font-size: 1.0rem;
  font-weight: 300;
  color: #aaa;
}
header #nav {
  font-size: 1.3rem;
}
header #nav a {
  margin-left: 4px;
  margin-right: 4px;
}

/* helpers */
.muted {
  color: #ccc;
}
.centered {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
.nostyle {
  list-style: none;
}
.highlight:hover {
  background-color: #eee;
}

/* ul */
div#posts div {
  margin: 6px 0;
  color: #ccc;
}
div#posts div span, div#posts div time {
  font-weight: 300;
  font-size: 0.9rem;
}
div#posts div time {
  font-family: sans-serif;
}

/* posts */
article #meta {
  display: table;
  width: 100%;
  font-size: 0.9rem;
  color: #ccc;
  font-weight: 300;
}
article #meta #date {
  display: table-cell;
}
article #meta #tags {
  display: table-cell;
  text-align: right;
}
#tags, #tags a {
  font-size: 0.9rem;
  color: #ccc;
}
#tags a:hover {
  text-decoration: none;
  color: #4183C4;
}
#main #content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px){
  .hidden-sm { 
    display: none;
  }
  h1 { font-size: 1.5rem }
  h2 { font-size: 1.25rem }
  h3 { font-size: 1rem }
  h4 { font-size: .9rem }
  h5 { font-size: .875rem }
  h6 { font-size: .75rem }
}
@media screen and (min-width: 768px){
  .hidden-lg { 
    display: none;
  }
}


/* fontawesome */

@font-face {
  font-family: 'random-bits';
  src: url('./font/random-bits.eot?10949054');
  src: url('./font/random-bits.eot?10949054#iefix') format('embedded-opentype'),
       url('./font/random-bits.woff2?10949054') format('woff2'),
       url('./font/random-bits.woff?10949054') format('woff'),
       url('./font/random-bits.ttf?10949054') format('truetype'),
       url('./font/random-bits.svg?10949054#random-bits') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'random-bits';
    src: url('../font/random-bits.svg?10949054#random-bits') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "random-bits";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-shuffle:before { content: '\e802'; } /* '' */
.icon-tags:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */

/* fontawesome end */


