<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700">
	<link rel="stylesheet" type="text/css" href="/static/bits.css">
	<style type="text/css">
		html, body {
			height: 100%;
			padding: 0;
		}

		#editor-wrapper {
			width: 100%;
			margin: 0;
			height: 100vh;
			padding: 0px 10px;
      overflow-y: scroll;
		}

		#editor, #preview {
			width: 50%;
			max-width: 50% !important;
			height: 100vh;
			overflow-x: scroll;
		}

		#preview {
			border-left: solid 1px #eee;
			padding-left:10px;
			float:right;
		}
		#editor {
			border-right: solid 1px #eee;
			padding-right:10px;
			float: left;
			height: 100vh;
    }
    #nav {
    	padding: 0px 10px;
    	height: 1.8rem;
    	border-bottom: solid 1px #eee;
    	font-size: 0.9rem;
    }
	</style>
</head>
<body>
<div id="nav">
	<span class="right">
		<span><i><small class="muted" id="savestatus"></small></i></span>
		<a id="save">save</a> | 
		<span><i><small class="muted" id="pubstatus"></small></i></span>
		<a id="publish" data="no">publish</a>
	</span>
	<span class="left"><a href="/manage">< back</a> | <a id="newpost">new post</a></span>
</div>
<div id="editor-wrapper">
	<article id="preview">
		<h1 id="title"></h1>
		<div id="meta">
			<span id="date"></span>
			<span id="tags"></span>
		</div>
		<div id="content"></div>		
	</article>
	<div id="editor"></div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.min.js"></script>
<script type="text/javascript" src="/static/bits.js"></script>
<script type="text/javascript" src="/static/lib/ace-builds/src-noconflict/ace.js" charset="utf-8"></script>
<script>
	var editor = (function() {

		var _ace = ace.edit('editor');
		_ace.setTheme('ace/theme/github');
		_ace.getSession().setMode('ace/mode/markdown');
		_ace.setOptions({
			wrap: true,
			showLineNumbers: false,
			showGutter: false,
			showPrintMargin: false
		});

	})();

	var previewer = (function() {

		hljs.initHighlightingOnLoad();
		marked.setOptions({
		  gfm: true,
		  tables: true,
		  breaks: false,
		  pedantic: false,
		  sanitize: false,
		  smartLists: false,
		  smartypants: true,
		  highlight: function (code) {
				return hljs.highlightAuto(code).value
			}
		});
	})();


	var ctrl = (function() {

		function loadPost() {
			
		}

	})();


	// ----

  var editor = ace.edit("editor");
	editor.setTheme("ace/theme/github");
	editor.getSession().setMode("ace/mode/markdown");
	editor.setOptions({
		wrap: true,
		showLineNumbers: false,
		showGutter: false,
		showPrintMargin: false
	});

	hljs.initHighlightingOnLoad();
	marked.setOptions({
	  gfm: true,
	  tables: true,
	  breaks: false,
	  pedantic: false,
	  sanitize: false,
	  smartLists: false,
	  smartypants: true,
	  highlight: function (code) {
			return hljs.highlightAuto(code).value
		}
	});	

	var postId;
	var originalPostSource = '';

	/* set the preview pane */
	var setPreview = function(src) {
		post = bits.post.load(src);
		// helper
		function icon(n) { return '<i class="icon-'+ n +'"></i>&nbsp;'; }
		function formatDate(d) {
			// very naive date handling
			// todo: use momentsjs
			return new Date(d).toGMTString().substring(0, 16);
		}
		// set meta data
		if(post) {
			var date = (post.meta.date || post.meta.created_at) ? 
				formatDate(post.meta.date || post.meta.created_at) : '&nbsp;';
			bits.el('title').text((post.meta.title || ''))
				.el('date').html(icon('calendar')).append(date)
				.el('content').html(marked(post.markdown))
				.el('tags').html(icon('tag')).appendAll((post.meta.tags || []), function(t) {
					return '<a href="/tags#'+ t +'">'+ t +'</a>&nbsp;';
			});
		}
	};

	var ifSourceModified = function(updatedSrc, fn) {
		var modified = (updatedSrc !== originalPostSource);
		if(fn && typeof fn === 'function' && modified) {
			fn(updatedSrc, originalPostSource);
		} else {
			return modified;
		}
	}

	//var hasEdits = false;
	/* auto-save algorithm

			1. enable auto-save after editing starts (hasEdits = true)
			2. after each edit, start inactive timer
			3. every x, check if hasEdits and
				- if last save was beyond threshold, then save
				- else if inactive > ?? save
			3. each inactive timer every 3-5secs, 
				- if inactive and elapsed time greater 3-5, save
				- if inactive and elapsed time < 3-5 secs, ignore
				- if inactive and elapsed time
	
	 */


	/* set the editor pane */
	var setEditor = function(src) {
		editor.setValue(src);
		editor.navigateTo(0, 0);
		editor.focus();
		editor.getSession().on('change', function(e) {
			var updatedSrc = editor.getValue();
			setPreview(updatedSrc);
			ifSourceModified(updatedSrc, function() {
				console.log('--- another change listener')
				bits.el('savestatus').text('(modified)');
			});
		});
	};

	function setPublish(post) {
		if(post.published !== undefined && post.published !== null) {
			bits.el('publish').attr('data', (post.published ? 'yes' : 'no'))
				.text(post.published ? 'unpublish' : 'publish');
		}
	}

	function setSource(post) {
		setEditor(post.source);
		setPreview(post.source);
		setPublish(post);
	}

	function loadPost() {
		var tokens = window.location.pathname.split(/\//);
		if(tokens.length == 4) {
			postId = tokens[3];
		}

		if(postId) {
			bits.xhr('/api/posts/'+postId)
				.ok(function(post) {
					originalPostSource = post.source;
					setSource(post);
				})
				.err(function(s) {
						console.log(s);
					})
				.get();
		} else {
			setSource({
				source: (
					'---\n' + 
					'title: Untitled\n' + 
					'date: '+new Date().toISOString().substring(0,10)+'\n' +
					'tags: []\n' + 
					'category: posts\n' +
					'---')});
		}
	}

	bits
	.el('newpost')
		.on('click', function() {
			if(ifSourceModified(editor.getValue()) && 
					!window.confirm('Leave unsaved post?')) {
				return;
			}
			window.location = '/manage/edit';
		})
	.el('save')
		.on('click', function(e){
			post = bits.post.load(editor.getValue());
			//TODO: only save if changes
			if(post && post.title) {
				bits.xhr('/api/posts' + (postId ? '/' + postId : ''))
					.ok(function(post) {
						originalPostSource = editor.getValue();
						bits.el('savestatus').text('');
						// update history if new posts being saved for first time
						if(!postId) {
							postId = post.id;
							window.history.replaceState({}, '', '/manage/edit/' + post.id);
						}
						//TODO: alert saved
					})
					.err(function(resp) {
						//TODO: alert err
					})
					.send({title: post.title, source: post.source, category:post.meta.category}, (postId ? 'PUT' : null));
			}
			//TODO: nothing to save
		})
	.el('publish')
		.on('click', function() {
			var pubEl = bits.el('publish');
			var isPub = pubEl.attr('data');
			if(postId) {
				bits.xhr('/api/publish/'+postId)
					.ok(setPublish)
					.send({published: (isPub === 'no')}, 'PUT');
			} else {
				console.log('save before publishing');
			}
	});


	if (document.readyState != 'loading'){
  	loadPost();
	} else {
  	document.addEventListener('DOMContentLoaded', loadPost);
	}

</script>
</body>
</html>