<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700">
	<link rel="stylesheet" type="text/css" href="/static/bits.css">
	<style type="text/css">
		html, body {
			height: 100%;
			padding: 0;
		}

		#editor-wrapper {
			width: 100%;
			margin: 0;
			height: 100vh;
			padding: 0px 10px;
      overflow-y: scroll;
		}

		#editor, #preview {
			width: 50%;
			max-width: 50% !important;
			height: 100vh;
			overflow-x: scroll;
		}

		#preview {
			border-left: solid 1px #eee;
			padding-left:10px;
			float:right;
		}
		#editor {
			border-right: solid 1px #eee;
			padding-right:10px;
			float: left;
			height: 100vh;
    }
    #nav {
    	padding: 0px 10px;
    	height: 1.8rem;
    	border-bottom: solid 1px #eee;
    	font-size: 0.9rem;
    }
	</style>
</head>
<body>
<div id="nav">
	<span class="right">
		<span><i><small class="muted" id="savestatus"></small></i></span>
		<a id="save">save</a> | 
		<span><i><small class="muted" id="pubstatus"></small></i></span>
		<a id="publish" data="no">publish</a>
	</span>
	<span class="left"><a href="/manage">< back</a> | <a id="newpost">new post</a></span>
</div>
<div id="editor-wrapper">
	<article id="preview">
		<h1 id="title"></h1>
		<div id="meta">
			<span id="date"></span>
			<span id="tags"></span>
		</div>
		<div id="content"></div>		
	</article>
	<div id="editor"></div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.min.js"></script>
<script type="text/javascript" src="/static/bits.js"></script>
<script type="text/javascript" src="/static/lib/ace-builds/src-noconflict/ace.js" charset="utf-8"></script>
<script>
	// shim move to utils
	if (!String.prototype.startsWith) {
  	String.prototype.startsWith = function(searchString, position) {
    	position = position || 0;
      return this.indexOf(searchString, position) === position;
    };
	}

	/**
	 * Object representing the right-hand preview pane.
	 */
	var previewer = (function() {

		/* initialize underlying highlighter ... */
		hljs.initHighlightingOnLoad();
		/* .. and markdown parser */
		marked.setOptions({
		  gfm: true,
		  tables: true,
		  breaks: false,
		  pedantic: false,
		  sanitize: false,
		  smartLists: false,
		  smartypants: true,
		  highlight: function (code) {
				return hljs.highlightAuto(code).value
			}
		});

		/* Helper for creating icons */
		function createIcon(type) {
			return '<i class="icon-' + type + '"></i>&nbsp;';
		}

		/* Very naive date helper */
		function formatDate(dt) {
			return new Date(dt).toGMTString().substring(0, 16);
		}

		/**
		 * Given a modified post source, parse it to markdown
		 * and render it for display.
		 */
		function update(modifiedSource) {
			var parsedSource = bits.post.load(modifiedSource);
			if(parsedSource) {
				var date = parsedSource.meta.date || parsedSource.meta.created_at;
				var dateHtml = date ? formatDate(date) : '&nbsp;';

				bits.el('title').text(parsedSource.meta.title||'')
					.el('date').html(createIcon('calendar')).append(dateHtml)
					.el('content').html(marked(parsedSource.markdown))
					.el('tags').html(createIcon('tag'))
						.appendAll((parsedSource.meta.tags || []),
							function(tag) {
								return '<a href="/tags#' + tag + '">' + tag + '</a>&nbsp;';
							}
					);
				}
			}

		return {
			update: update
		}

	})();


	/**
	 * Object representing the left-hand editor pane. 
	 */
	var editor = (function() {

		function _editor() {}

		var _listeners = [];
		var _ace = ace.edit('editor');
		_ace.setTheme('ace/theme/github');
		_ace.getSession().setMode('ace/mode/markdown');
		_ace.setOptions({
			wrap: true,
			showLineNumbers: false,
			showGutter: false,
			showPrintMargin: false
		});
    // set to Infinity to disable auto scrolling warning
    _ace.$blockScrolling = Infinity;
		_ace.getSession().on('change', 
			function(e) {
				for(var i=0; i < _listeners.length; i++) {
					var listener = _listeners[i];
					listener.target[listener.fn](_ace.getValue());
				}
		});		

		_editor.prototype.setSource = function (source) {
			_ace.setValue(source);
			_ace.navigateTo(0, 0);
			_ace.focus();
		};
		_editor.prototype.getSource = function() {
			return _ace.getValue();
		};
		_editor.prototype.addListener = function(listener, fnName) {
			fnName = fnName || 'notify';
			if('function' === typeof listener[fnName]) {
				_listeners.push({
					fn: fnName,
					target: listener
				});
			}
		}

		return new _editor();

	})();

	/**
	 * Main controller.
	 */
	var controller = function(editor, previewer) {

		/*
		 * Helper for parsing the url to obtain post id. The return value
		 * can be either a numeric id or 'new' if request is for a new post.
		 * Otherwise an exception is raised.
		 */
		function getPostIdFromUrl() {
			var pathname = window.location.pathname;
			var pid = pathname.substring(pathname.lastIndexOf('/'));
			pid = pid.length > 1 ? pid.substring(1) : null;
			if(parseInt(pid)) {
				return pid;
			} else if(pathname.startsWith('/manage/new')) {
				return 'new';
			} else {
				throw new Error('Missing post id!');
			}
		}

		/*
		 * Generate an empty post object.
		 */
		function createEmptyPost() {
			return {
				id: 'new',
				source: ('---\n' + 
					'title: Untitled\n' + 
					'date: '+new Date().toISOString().substring(0,10)+'\n' +
					'tags: []\n' + 
					'category: posts\n' +
					'---'), 
				published: false
			};
		}

		function isPostModified(source) {
			return (!_fetchedPost || !source || _fetchedPost.source !== source);
		}

		function onFetchPostSuccess(post) {
			_fetchedPost = post;
			_editor.setSource(post.source);
		}

		function onError(err) {
			console.log(err);
		}

		function updateSaveStatus(s) {
			bits.el('savestatus').text(s);
		}

		if(!editor || !previewer)
			throw new Error('Editor and Previewer must be defined!');

		var _postId,    // post to load for this context
			_fetchedPost, // fetched post using above post id
			_editor = editor,
			_previewer = previewer;

		var ctrl = function() {};

		ctrl.prototype.fetchPost = function() {
			try {
				// getPostId should always return a number or 'new'
				var pid = this.getPostId();
				if(pid === 'new') {
					onFetchPostSuccess(createEmptyPost());
				} else {
					bits.xhr('/api/posts/' + pid)
							.ok(onFetchPostSuccess)
							.err(onError)
						.get();
				}
			} catch(e) {
				onError({msg: 'Unable to fetchPost', ex: e})
			}
		}

		ctrl.prototype.getPostId = function() {
			if(!_postId) 
				_postId = getPostIdFromUrl();
			return _postId;
		};

		ctrl.prototype.onSourceChange = function(source) {
			_previewer.update(source);
			updateSaveStatus(isPostModified(source) ? '(modified)' : '');
		};

		ctrl.prototype.createPost = function() {
			if(isPostModified(_editor.getSource()) &&
					!window.confirm('Leave unsaved post?'))
				return;
			window.location.href = '/manage/new';
		};

		ctrl.prototype.savePost = function() {
			var postObj = bits.post.load(_editor.getSource());
			// TODO: only save if changes
			if(postObj && postObj.title) {
				bits.xhr('/api/posts' + (_postId ? '/' + _postId : ''))
					.ok(function(post) {
						_fetchedPost = post;
						// TODO: update saved status
						if(!_postId) {
							_postId = post.id;
							// update url with new post id without reloading page
							window.history.replaceState({}, '', '/manage/edit/' + postId);
						}
					})
					.err(onError)
					.send({
							title: postObj.title,
							category: postObj.meta.category,
							source: postObj.source}, 
						(_postId ? 'PUT' : null)
					);
			}
		};

		ctrl.prototype.publish = function() {
			var isPub = bits.el('publish').attr('data');
			if(_postId) {
				bits.xhr('/api/publish/' + _postId)
					.ok(function(post) {
						if(post.published !== undefined && post.published !== null) {
							bits.el('publish').attr('data', (post.published ? 'yes' : 'no'))
								.text(post.published ? 'unpublish' : 'publish');
						}
					})
					.err(onError)
					.send({published: (isPub === 'no')}, 'PUT');
			} else {
				console.log('save before publishing');
			}			
		};

		ctrl.prototype.init = function() {
			/* register us as a listener to editor changes */
			_editor.addListener(this, 'onSourceChange');

			/* register handlers for the navigation actions */
			bits.el('newpost').on('click', this.createPost)
				.el('save').on('click', this.savePost)
				.el('publish').on('click', this.publish);

			/* lets fetch the post */
			this.fetchPost();
		};

		ctrl.prototype.isPostModified = function(source) {
			return _fetchedPost && _fetchedPost.source !== source;
		}

		return new ctrl();

	};

	document.addEventListener('DOMContentLoaded', function() {
		new controller(editor, previewer)
			.init();
	})



</script>
</body>
</html>