{% set active_page = 'posts' %}
{% extends "layout-default.html" %}
{% import 'macros.html' as utils %}

{% block body %}
<div id="posts">
{% for post in posts %}
	<div>
		{% set post_date = post.date.strftime('%Y-%m-%d') %}
		<time datetime="{{ post_date }}" class="hidden-sm">{{ post_date }}</time>
		<span class="separator hidden-sm"> &raquo </span>
		<a href="/posts/{{ post.slug }}">{{ post.title }}</a>
		<span class="hidden-lg"><br/><time datetime="{{ post_date }}" >{{ post_date }}</time></span>
		{{ utils.tags(post) }}
		<p>
	</div>
{% endfor %}
</div>
{% endblock %}