{% set active_page = 'posts' %}
{% extends "layout-default.html" %}

{% block body %}
<a href="/admin/update">update</a>
<div id="posts">
{% for post in posts %}
	<div>
		<time datetime="{{post.created_at}}">
			{{post.created_at.strftime('%Y-%m-%d')}}
		</time>
		<span class="separator"> &raquo </span>
		<a href="/posts/{{ post.slug }}">{{ post.title }}</a>
		{% if post.tags %}
		<span id="tags">
			<i class="icon-tag"></i>
			{% for tag in post.tags %}
			<a href="/tags#{{tag}}">{{tag}}</a>
			{% endfor %}
		</span>
		{% endif %}
	</div>
{% endfor %}
</div>
{% endblock %}