{% macro set_active(target='posts') %}
  {% if active_page == target %} selected{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  {% block head %}
  {% endblock %}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700">
	<link rel="stylesheet" type="text/css" href="/static/bits.css">
</head>
<body>
<div class="container" id="header">
  <header>
    <h1 id="logo"><small><i class="icon-shuffle selected" title="Random"></i></small> Bits</h1>
    <div id="description">from a father, developer, and DIY enthusiast</div>
    <div id="nav">
      <a href="/"><i class="icon-shuffle {{set_active()}}" title="random bits"></i></a>
      <a href="https://masfotos.gnoht.com"><i class="icon-camera-alt" title="photos"></i></a>
      <a href="https://tlrl.gnoht.com"><i class="icon-bookmark-empty" title="tlrl"></i></a>
      <a href="http://stackoverflow.com/users/2264997/ikumen?tab=profile"><i class="icon-stackoverflow" title="stackoverflow"></i></a>
      <a href="https://github.com/ikumen"><i class="icon-github-circled" title="projects"></i></a>
      <a href="/about"><i class="icon-info-circled {{set_active(target='about')}}" title="about me"></i></a>
    </div>
  </header>
</div>

<div class="container" id="main">
  {% block body %}
  {% endblock %}
</div>

<div class="container" id="footer">
  <footer><small>
      Copyright &copy; 2007-{{now.year}} 	Thong Nguyen. All rights reserved.
  </small></footer>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script type="text/javascript" src="/static/lib/marked/marked.min.js"></script>
<script type="text/javascript" src="/static/bits.js"></script>
{% block script %}
{% endblock %}
</body>
</html>