{% set active_page = 'posts' %}
{% extends "layout-default.html" %}

{% block body %}
<article>
	<h1 id="title">Tags</h1>
	<div id="content">
	{% for tag in tags %}
		<span class="badge muted nowrap"><a href="#{{tag}}">{{tag}}</a> &times; {{tags_posts[tag]|count}}</span>
	{% endfor %}
	{% for tag in tags %}
		<h4 id="{{tag}}">{{tag}}</h4>
		{% for post in tags_posts[tag] %}
		<div><a href="/posts/{{post.slug}}">{{post.title}}</a></div>
		{% endfor%}
	{% endfor %}
	</div>
</article>
<a href="/">< back home</a>
{% endblock %}
